@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    user-select: none;
    /* background-image: url(https://i.pinimg.com/originals/cd/7f/92/cd7f922b19cd8f433790c9381e43bdef.jpg); */
}

.actionmenu{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 80vh;
    width: 25vw;
}

.guns-menu{
    height: 90%;
    width: 100%;
    border-radius: 0.5vw;
    background-color: #1616166b;
}

.title{
    height: 10%;
    width: 100%;
    color: white;
    font-size: 1.2vmax;
    letter-spacing: 0.1rem;
    text-align: center;
}

.guns-section{
  margin-top: 3%;
  height: 85%;
  width: 100%;
  align-items: center;
  justify-content: center;  
  overflow-x: hidden;
}

.guns{
    height: 20%;
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    color: #fff;
    border-radius: 0.5vw;
    background-color: #141414af;
    display: inline-block;
}

.image-box {
    position: relative;
    margin: 1.25%;
    width: 40%;
    height: 90%;
    border-radius: 0.5vw;
    background-color: #0000008f;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.image-box img{
    height: auto;
    width: 95%;
}

.name-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    width: 55%;
    height: 25%;
    font-size: 1vmax;
    border-radius: 0.5vw;
    background-color: #0000008f;
    margin: 1%;
}

.button-box{
    position: relative;
    top: 30%;
    height: 30%;
    width: 55%;
    display: flex;
}

.button-box button{
    height: 100%;
    width: 90%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border: none;
    border-radius: 0.5vh;
    font-size: 0.75vmax;
    text-transform: uppercase;
}

.retirar {
    background: rgb(86, 211, 106);
    color: #fff;
    transition: 500ms;
}

.retirar:hover {
    background: rgb(36, 211, 66);
    transform: translateY(-3px);
    box-shadow: 0px 4px 10px -5px #32e04f, 0px 7px 15px -7px #000000;
}

.guardar {
    background: rgb(255, 83, 83);
    color: #fff;
    transition: 500ms;
}

.guardar:hover {
    background: rgb(248, 29, 29);
    transform: translateY(-3px);
    box-shadow: 0px 4px 10px -5px #e03232, 0px 7px 15px -7px #000000;
}

.keep-all{
    width: 100%;
    height: 9%;
    margin-top: 1%;
    border-radius: 0.5vw;
    background-color: #1616166b;
    border: none;
    color: white;
    text-align: center;
    font-size: 1.4vmax;
    transition: 500ms;
}

.keep-all:hover{
    transform: translateY(-3px);
    box-shadow: 0px 4px 10px -5px #1414145e, 0px 7px 15px -7px #000000;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}